@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&family=Inknut+Antiqua:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

/* font-family: 'Inconsolata', monospace;
font-family: 'Inknut Antiqua', serif;
font-family: 'Roboto', sans-serif; */

:root {
    --black: #164E63;
    --grey: rgba(0, 0, 0, 0.75);
    --deepsea: #155E75;
    --darkblue: #0E7490;
    --blue: #06B6D4;
    --white: #FFFFFF;
    --white8: rgba(255, 255, 255, 0.8);
    --white5: rgba(255, 255, 255, 0.5); 
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.wrapper {
    background-color: var(--deepsea);
    max-width: 550px;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);
    padding-bottom: 20px;
}

h1,
p {
    margin: 0;
}

header > h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 3rem;
    color: var(--white);
    text-align: center;
}

header > p {
    font-family: 'Inconsolata', monospace;
    font-size: 0.9rem;
    color: white;
    text-align: left;
    margin: 0 85px;
}

nav {
    align-self: end;
    position: relative;
    bottom: -34px;

    display: flex;
    gap: 1px;
}

button {
    cursor: pointer;
}

button > img {
    pointer-events: none;
}

header button {
    height: 34px;
    padding: 5px 10px;
    border: none;
    background-color: var(--blue);
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    color: var(--white8);
}

header button:hover {
    background-color: var(--black);
    cursor: pointer;
}

img {
    height: 20px;
    width: auto;
}

.task-header {
    display: flex;
    border-bottom: var(--grey);
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--white5);
}


main {
    margin-top: 20px;
}

.task-header {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey);
    margin: 10px 200px 25px 20px;
    color: var(--white5);
    list-style: none;
}

.task-header .active {
    color: var(--white);
    font-size: 1.5rem;
}

.task-container > div {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: var(--white8)
}

.task-container > div:hover {
    background-color: var(--blue);
}

.task-container label {
    padding: 5px 10px;
}

.task-menu {
    display: none;
    margin: 0 10px 0 auto;
}

.task-menu-visible {
    display: flex;
    gap: 5px;
}

label[for="taskInput"] {
    position: relative;
    right: 8px;
    color: #000000a1;
    font-size: 2rem;
}

input#taskInput {
    position: relative;
    right: 37px;
    width: 100%;
    padding: 5px 5px 5px 30px;
    background-color: var(--black);
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
}

input#taskInput:focus-visible {
    outline: none;
    color: var(--white);
    background-color: var(--black);
    border-radius: 1rem;
    border:none;
}

.enter-btn {
    position: relative;
    right: 75px;
    border: none;
    background-color: transparent;
}

.form {
    padding: 10px;
    margin: 0 85px 0 20px;
    background-color: var(--black);
    border-radius: 1rem;
}


.form label {
    padding: 0;
    font-size: 0.9rem;
}

.form > input:first-of-type {
    display: block;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 1rem;
    background: #000000a6;
    color: white;
    font-size: 1.5rem;
}

input#dueDate {
    margin-right: 20px;
}

label[for="taskDesc"] {
    display: block;
    margin-top: 10px;
}

input#taskDesc {
    display: block;
    background-color: transparent;
    border: none;
    width: 400px;
    padding: 5px 10px;
}

#taskDesc:focus-visible {
    outline: none;
    color: var(--white);
    background-color: black;
    border-radius: 1rem;
}

.add-task {
    font-family: 'Inconsolata', monospace;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 20px;
    padding: 5px 10px;
    background-color: var(--blue);
    border: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}

.add-task:active {
    background-color: var(--darkblue);
}